/*Navegação*/
.area-navegacao {
  min-height: 56px;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  align-items: center;
}

.navegacao-elementos {
  margin-left: 56px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icones {
  display: flex;
  gap: 7px;
}

.horario {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

/*=================================*/

/*Usuario*/
.area-usuario {
  display: flex;
  margin-top: 45px;
  margin-left: 56px;
  margin-right: 56px;
  margin-bottom: 20px;
  height: 70px;
  align-items: center;
}

.imagem-perfil {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

h2 {
  margin-left: 1rem;
  font-size: 20px;
  color: rgb(73, 73, 73);
  font-family: sans-serif;
}

/*=================================*/

/*Data*/
.area-botaoData {
  margin-top: 46px;
  margin-left: 323px;
  height: 32px;
  width: 32px;
  display: flex;
}

.area-botaoData svg {
  height: 27px;
  width: 27px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.area-botaoData svg:hover {
  transform: scale(0.9);
}

/*=================================*/

/*Tarefas*/
.area-tarefas {
  flex: 1;
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-bottom: 20px;
  gap: 18px;
}

.area-tarefas::-webkit-scrollbar {
  width: 0px;
}

.area-novaTarefa {
  margin: 0 auto;
  width: 311px;
  min-height: 45px;
  background-color: #d9d9d9; /* cinza claro */
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  gap: 10px;
  flex-shrink: 0; /*impede que a div diminua caso aconteça alguma alteração*/
}

.area-novaTarefa input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #121212;
}

.botaoCriar {
  background-color: white; /* botão branco */
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%; /* deixa redondo */
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

/*Animação botão*/
.botaoCriar:hover {
  transform: scale(0.9);
  background-color: #919191;
}

/*====================*/

.area-botaoCheck {
  border-radius: 50%;
  background-color: white;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circuloVazio {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.iconeCheck {
  color: #121212;
  font-size: 16px;
}

.tarefa {
  width: 311px;
  height: 45px;
  background-color: #d9d9d9; /* cinza claro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 20px;
  gap: 10px;
  border-radius: 26px;
}

.lista-tarefas {
  margin: 0;
  list-style: none;
  width: 311px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.checkEtexto {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.textoTarefa {
  font-family: sans-serif;
}

.botaoX {
  background: transparent;
  border: none;
  transition: transform 0.2s ease, background-color 0.2s ease;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: rgb(99, 99, 99);
  cursor: pointer;
}

.botaoX:hover {
  transform: scale(0.9);
}

/* Responsividade */
@media (max-width: 420px) {
  .area-celular {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}
