* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: #212024;
  margin: 0;
  padding: 0;
}

.background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Área do "celular" */
.area-celular {
  width: 402px;
  height: 874px;
  background-color: #ffffff; /* cor de fundo do app */
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
